@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* styling for body on all pages */
body {
    background-color: #aab1bd;
    font-family: 'Gentium Book Basic', sans-serif;
}

/* Genral paddings and margins for all pages */
h1,h2,h3,h4 {
    margin: 0;
}
.float-right {
    float: right;
}
.uppercase {
    text-transform: uppercase;
}

/* General styling for heading and navigation section on all pages */
.heading {
    background-color:#45596c;
    color:#f3f3f6;
    height: 180px;
}
.heading-title {
    margin-top: 40px;
}
.general-section-color{
    background-color: #f3f3f6;
}

/* bootstrap style button */
.nav-toggle-color {
    background-color: #45596c;
}
.nav-toggle {
    margin-top: 30px;
    margin-left: 30px;
}
.nav-toggle button {
    background-color: #45596c;
    border-color: #f3f3f6;
    border-radius: 5px;
    font-size: 25px
}
.nav-toggle button:hover {
    background: #0c279e;
}
.nav-toggle-btn span, .nav-toggle-btn i {
    color: #f3f3f6;
}

/* navbar button colours */
.home-menu-color {
    background-color: #0f5132;
}
.movie-menu-color {
    background-color:#d03507;
}
.book-menu-color {
    background-color:#0c279e;
}
.contact-menu-color {
    background-color:#ba356d;
}
.events-menu-color {
    background-color:#5c60b8;
}
/* large screen navbar styling */
#nav-bar {
    margin: 0;
}
#nav-bar li {
    padding: 0;
}

.nav-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.nav-item a {
    width: 100%;
    text-decoration: none;
    color: #f3f3f6;
    height: 120px;
}

.nav-item a i {
    padding-top: 22px;
    display: block;
    color: #f3f3f6;
    font-size: 26px;
}

.nav-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gentium Book Basic', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}
/* main about us section on nome page index.html and apple image section */
.about-us-main h3 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-us-main p {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.book-apple-image {
    background: url('/assets/images/book-apple-image.png');
    background-color: #f3f3f6;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    min-height: 500px;
}
/* events section */
.events-main {
    background-color: #ffffff;
}
.events-box {
 margin-left: 30px;
}
.events-heading  {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
    margin-top: 15px;
    margin-bottom: 15px;
}
.events-description {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
}
.events-location h4 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
}
.events-location p {
    margin-top: 15x;
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
}
thead tr th {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
}
tbody tr th {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
}
tbody tr td {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
}
/* book movie page */
.search-movie-image {
    background: url('/assets/images/search-movie-image.png');
    background-color: #f3f3f6;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    height: 100vh;
}
.movie-search-box {
    background-color: #d03507;
    margin-left: 20%;
    margin-top: 80px;
    width: 60%;
    height: 80%;
}
/* book and movie page search box */
.search-box h1 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
    padding-top: 40px;

}

.form-box {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-box input {
    width: 90%;
}

/* footer section */
.footer {
    background-color: #45596c;
    color: #f3f3f6;
    
}
.about-us {
    margin-top: 10px;
}
.about-us h5 {
    font-family: 'Gentium Book Basic', sans-serif;
    font-size: 20px;
}
.about-us h5 p {
    font-family: 'Gentium Book Basic', sans-serif;
    font-size: 18px;
}
.club-social {
    margin-top: 10px
}
.club-social h5 {
    margin-right: 10px;
    font-family: 'Gentium Book Basic', sans-serif;
}

.club-social-icons li a i {
    width: 32px;
    height: 32px;
    margin-top: 15px;
    margin-right: 10px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 24px;
    line-height: 7px;
    text-align: center;
    color: #45596c;
    background: #aab1bd;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}



.club-social-icons li a i:hover {
    background: #f3f3f6;
}
@media(max-width: 766px) {
    .book-apple-image {
        min-height: 300px;
    }
}
@media(max-width: 500px) {
    .book-apple-image {
        min-height: 200px;
    }
}



