@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* styling for body on all pages */
body {
    background-color: #aab1bd;
    font-family: 'Gentium Book Basic', sans-serif;
}

/* Genral paddings and margins for all pages */
h1,h2,h3,h4 {
    margin: 0;
}
.float-right {
    float: right;
}
.uppercase {
    text-transform: uppercase;
}

/* General styling for heading and navigation section on all pages */
.heading {
    background-color:#45596c;
    color:#f3f3f6;
    height: 180px;
}
.heading-title {
    font-size: 40px;
    margin-top: 40px;
}
.general-section-color{
    background-color: #f3f3f6;
}

/* bootstrap style button */
.nav-toggle-color {
    background-color: #45596c;
}
.nav-toggle {
    margin-top: 30px;
    margin-left: 30px;
}
.nav-toggle button {
    background-color: #45596c;
    border-color: #f3f3f6;
    border-radius: 5px;
    font-size: 25px
}
.nav-toggle button:hover {
    background: #0c279e;
}
.nav-toggle-btn span, .nav-toggle-btn i {
    color: #f3f3f6;
}

/* navbar button colours */
.home-menu-color {
    background-color: #0f5132;
}
.movie-menu-color {
    background-color:#d03507;
}
.book-menu-color {
    background-color:#0c279e;
}
.contact-menu-color {
    background-color:#ba356d;
}
.events-menu-color {
    background-color:#5c60b8;
}
/* large screen navbar styling */
#nav-bar {
    background-color: #45596c;
    margin: 0;
}
#nav-bar li {
    padding: 0;
}

.nav-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.nav-item a {
    width: 100%;
    text-decoration: none;
    color: #f3f3f6;
    height: 120px;
}

.nav-item a i {
    padding-top: 22px;
    display: block;
    color: #f3f3f6;
    font-size: 26px;
}

.nav-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gentium Book Basic', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}
/* main about us section on nome page index.html and apple image section */
.about-us-main h3 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-us-main p {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.book-apple-image {
    background: url('../images/book-apple-image.png');
    background-color: #f3f3f6;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    min-height: 500px;
}
/* events section */
.events-main {
    background-color: #ffffff;
}
.events-box {
 margin-left: 30px;
}
.events-heading  {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
    margin-top: 40px;
    margin-bottom: 15px;
}
.events-description {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
}
.events-location h4 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
}
.events-location p {
    margin-top: 15x;
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
}
thead tr th {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
}
tbody tr th {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
}
tbody tr td {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #45596c;
}

/* events map in home index.html page */

#map {
    height: 100%;
}

div#map {           
    margin-bottom: 10px;
    max-height: 1100px;
}

/* loading gif and messages from movie app */
.search-message {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
    font-size: 30px;
    padding-top: 20px;
}
#book-loader {
    padding-top: 30px;    
}

/* movie seearch page */
.search-movie-image {
    background: url('../images/search-movie-image.png');
    background-color: #f3f3f6;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    min-height: 100vh;
}
.movie-search-box {
    background-color: #d03507;  
}

.toggle-main {
    position: absolute;
    z-index: 1;
    width: 180px;
    margin-top: 10px;
    margin-left: -20px;
}
.toggle-item {
    height: 80px;
    text-align: center;
    padding: 0;
}

.toggle-item a {
    width: 100%;
    text-decoration: none;
    color: #f3f3f6;
    height: 120px;
}

.toggle-item a i {
    padding-top: 22px;
    display: block;
    color: #f3f3f6;
    font-size: 18px;
}

.toggle-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gentium Book Basic', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}


/* movie search results container */
.movie-display-container {
    background-color: #d03507;
    margin-top: 60px;
    margin-bottom: 20px;
    min-height: 300px;
    
}

.movie-display-plot {
    padding-left: 50px;
    margin-right: 50px;
}

/* book search page */
.search-book-image {
    background: url('../images/search-book-image.png');
    background-color: #f3f3f6;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    min-height: 100vh;
}
.book-search-box {
    background-color: #0c279e;
}

/* book search results box */

.book-display-container {
    background-color: #0c279e;
    margin-top: 60px;
    margin-bottom: 20px;
    min-height: 300px;
}

.movie-title {
    margin: 10px;
}

.book-image {
    margin-left: 15px;
}

/* Book display box */

.book-display-box h2 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
    padding-top: 10px;
}

.book-display-box img {
    margin-bottom: 10px;
}

.book-display-box h4 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 40px;
    margin-left: 10px;
    
}

.book-display-box h3 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 10px;
}

.book-display-box p {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
    margin-left: 10px;
    margin-right: 23px;
}

/* book and movie page search box */
.search-box {
    margin-left: 20%;
    margin-top: 80px;
    width: 60%;
    height: 80%;
}
.search-box h1 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
    font-size: 30px;
    padding-top: 40px;

}
.form-box {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-box input {
    display: inline;
    width: 80%;
}

/* Movie display box */
.movie-image {
    background: url(../images/movie-paceholder.png);
    background-color: #d03507;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    min-height: 250px;
    max-width: 90%;
}
.movie-info {
    width: 80%;
    margin-left: 20%;
    margin-top: 20px;
}

.movie-display-box h2 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.movie-display-box h4 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
    font-size: 20px;
    margin-bottom: 2px;
}

.movie-display-box h3 {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
    font-size: 20px;
    margin-bottom: 2px;
}

.movie-display-box p {
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
    font-size: 16px;
    padding-bottom: 13px;
    margin-right: 20%;
}

.movie-display-box .btn-secondary {
    background-color: #0f5132;
}

.movie-button {
    background-color: #0f5132;
    font-family: 'Gentium Book Basic', sans-serif;
    color: #f3f3f6;
}

.movie-button:hover {
    background: #d03507;
}
/* contact us page form container and button */
.form-section {
    background-color: #fafafa;
}
.form-container {
    background-color: #ba356d;
    margin-left: 20%;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 60%;
    height: 80%;
}
.form-container h3 {
    font-family: 'Gentium Book Basic', sans-serif;
    text-align: center;
    color: #f3f3f6;
    padding-top: 40px;
}
.form-container h4 {
    font-family: 'Gentium Book Basic', sans-serif;
    text-align: center;
    color: #f3f3f6;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-center {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #0f5132;
    color: #fafafa;
}
button[type="submit"]:hover {
    background-color: #0c279e;
}

button[type="reset"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #0f5132;
    color: #fafafa;
}
button[type="submit"]:hover {
    background-color: #0c279e;
}

/* footer section */
.footer {
    background-color: #45596c;
    color: #f3f3f6;
    
}
.about-us {
    margin-top: 10px;
}
.about-us h5 {
    font-family: 'Gentium Book Basic', sans-serif;
    font-size: 20px;
}
.about-us h5 p {
    font-family: 'Gentium Book Basic', sans-serif;
    font-size: 18px;
}
.club-social {
    margin-top: 10px
}
.club-social h5 {
    margin-right: 10px;
    font-family: 'Gentium Book Basic', sans-serif;
}

.club-social-icons li a i {
    width: 32px;
    height: 32px;
    margin-top: 15px;
    margin-right: 10px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 24px;
    line-height: 7px;
    text-align: center;
    color: #45596c;
    background: #aab1bd;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.club-social-icons li a i:hover {
    background: #f3f3f6;
}

/* media quires */

@media(max-width: 766px) {
    .book-apple-image {
        min-height: 300px;
    }
    .search-box {
        width: 90%;
        margin-left: 5%;
    }
    .movie-display-container {
        margin-left: 10%;
        width: 80%;
    }
}
@media(max-width: 500px) {
    .book-apple-image {
        min-height: 200px;
    }
    .form-container {
        background-color: #ba356d;
        margin-left: 0;
        width: 100%;
    }
    .search-box {
        width: 100%;
        margin-left: 0%;
    }
    .movie-display-container {
        width: 100%;
        margin-left: 0;
    }
}
@media(min-width: 992px) {
 
    .form-center {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}